body {
    background: rgb(32,32,32);
    background: linear-gradient(0deg, rgba(32,32,32,1) 0%, rgba(0,0,0,1) 100%);
  }
  
  @keyframes growShrink {
      0%, 100% {
          transform: scaleY(1);
      }
      50% {
          transform: scaleY(0.5);
      }
  }
  
  .audio-bar {
      animation: growShrink 2s infinite;
      transform-origin: center center;
      z-index: 1;
      
  }
  
  .audiogram .audio-bar:nth-child(0) {animation-delay: 0.0s;}
  .audiogram .audio-bar:nth-child(1) {animation-delay: 0.2s;}
  .audiogram .audio-bar:nth-child(2) {animation-delay: 0.4s;}
  .audiogram .audio-bar:nth-child(3) {animation-delay: 0.6s;}
  .audiogram .audio-bar:nth-child(4) {animation-delay: 0.8s;}
  .audiogram .audio-bar:nth-child(5) {animation-delay: 1.0s;}
  .audiogram .audio-bar:nth-child(6) {animation-delay: 1.2s;}
  .audiogram .audio-bar:nth-child(7) {animation-delay: 1.4s;}
  .audiogram .audio-bar:nth-child(8) {animation-delay: 1.6s;}
  .audiogram .audio-bar:nth-child(9) {animation-delay: 1.8s;}
  .audiogram .audio-bar:nth-child(10) {animation-delay: 2.0s;}
  .audiogram .audio-bar:nth-child(11) {animation-delay: 2.2s;}
  .audiogram .audio-bar:nth-child(12) {animation-delay: 2.4s;}
  .audiogram .audio-bar:nth-child(13) {animation-delay: 2.6s;}


.waveform-container{
    margin: "20px";
    padding: "20px";
}

.audiogram.col{
    padding: "20px";
}